.container{
    border: solid black 2px;
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.black{
    width: 200px;
    height: 200px;
    background-color: black;
}
.white{
    width: 200px;
    height: 200px;
}